<div class="container-fluid px-1 px-md-4 py-5 mx-auto">
  <div class="row d-flex justify-content-center px-3">
      <div class="weathercard">
          <h2 class="ml-auto mr-4 mt-3 mb-0" id="city">{{this.weatherData?.name}}</h2>
          <p class="ml-auto mr-4 mb-0 med-font" id="condition">{{this.weatherData?.weather.id}}sa</p>
          <h1 class="ml-auto mr-5 pb-5 mb-5 large-font" id="degree">{{this.weatherData?.main.temp}}</h1>
          <p class="time-font py-5 pb-0 mb-0 ml-1 mt-auto" id="time">{{this.weatherData?.timezone}}<span class="sm-font">AM</span></p>
          <p class="" id="date">Wednesday, 18 October 2019</p>
      </div>
  </div>

  <div class="col-md ">
    <h3 class="text-center">Search for Weather:</h3>
    <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          id="weatherLocation"
          aria-describedby="weatherLocation"
          placeholder="Please input a Location"
          formControlName="location" />
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success btn-md">
      Search for the weather </button>
  </div>
</form>
  </div>
</div>
